<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Bang</title>
</head>
<body>
    <header>
        <h1>One punch man</h1>
    </header>
    <section id="presentacion">
    <h2>BANG</h2>
   
    <p> <img src="/img/Bang.png"  alt="heroe bang">Bang (バ ン グ, Bangu), también conocido como Silver Fang, (シルバーファング, Shirubā Fangu), es el héroe profesional de Clase-S, rango 3 de la Asociación de Héroes, reconocido como uno de los héroes más poderosos. Actualmente se encuentra asentado en Ciudad-Z. Bang es también uno de los pocos que realmente reconoce el poder de Saitama y es parte del Grupo Saitama. Su hermano Bomb y él son los dos más grandes maestros del mundo de las artes marciales</p>
</section>

<div>
    <ul>
        <li><a href="#apariencia">APARIENCIA</a></li>
        <li><a href="#personalidad">PERSONALIDAD</a></li>
        <li><a href="#batallas">BATALLAS</a></li>
        <li><a href="#curiosidades">CURIOSIDADES</a></li>
    </ul>
</div>

<img src="/img/separador.png" id="separador" alt="">

    <section>
        <!-- apariencia -->
        <article id="apariencia">
            <h3>Apariencia</h3>
            <p>
                Bang tiene la apariencia de un anciano, y camina con un ligero encorvamiento en su espalda. Tiene ojos azules claros y pelo blanco puntiagudo. También posee gruesas cejas blancas y un grueso bigote blanco, y tiene la piel ligeramente bronceada. Lleva un traje negro de manga larga de artes marciales, pantalones de colores claros y zapatillas de Tai Chi. A pesar de su edad y apariencia, tiene un cuerpo muy tonificado cubierto con muchas cicatrices.
            </p>
           
        </article>

        <img src="/img/separador.png" id="separador" alt="">

        <!-- personalidad -->
        <article id="personalidad">
            <h3>Personalidad</h3>
            <p>Bang tiene una personalidad seria. Actúa con calma y no parece tener miedo ante la perspectiva de detener un meteoro de desastre de nivel dragón. A diferencia de la mayoría de los otros héroes de la serie, Bang prefiere ser llamado por su nombre en lugar de su alias.</p>
            <p>Bang también está bien fundamentado en la ética del heroísmo; él acusa a los otros héroes de la Clase S de ser desalmados por olvidar el desastre en Ciudad-Z y atender sus propios problemas en su lugar. Además, cuando presencio a Tanktop Black Hole acusando a Saitama de la miseria de los civiles, Bang observa desde lejos con decepción, pero sin intervenir, señalando que los héroes normalmente tendrán que lidiar con la falta de apreciación de sus acciones y asumir la responsabilidad. Más tarde, cuando su discípulo Charanko se enfrenta a Saitama elogiando la habilidad y el rango de héroe de su maestro de artes marciales, Bang advierte airadamente a su discípulo de que no debe avergonzarlo, e incluso afirma abiertamente que Saitama es mucho más fuerte que él.</p>
            <p>Tal vez debido a la pérdida de todos sus discípulos (excepto Charanko) frente a su antiguo discípulo superior Garou (además de su vejez y la inexperiencia de su discípulo restante), Bang siempre está buscando ansiosamente nuevos discípulos para sucederle. Después de afirmar que no querría que el meteorito cayera sobre Ciudad-Z ya que destruiría su dojo, Bang demuestra rápidamente su Puño de Agua que fluye Roca Aplastante, solo para darse cuenta de que Genos ya había desaparecido. Más tarde, él invita a Saitama y Genos a su dojo con el pretexto de mostrarles algo interesante, solo para demostrarles a ambos su característica técnica para el desinterés de sus invitados. Su inflexibilidad para proteger a los ciudadanos y civiles se puede interpretar como una importancia estratégica en el mundo de los héroes.</p>
            <p>El carácter de Bang cambia cuando se enoja. Habla menos y su estilo de lucha se vuelve menos eficiente. Recurre a una ráfaga de ataques en lugar de un solo golpe poderoso.</p>
            <p>También está disgustado por la cultura negativa sobre el heroísmo y poco saludable de la Asociación de Héroes cuando revela a Atomic Samurai en su viaje de pesca que la Asociación ha perdido de vista su objetivo.</p>
        </article>

        <img src="/img/separador.png" id="separador" alt="">

        <!-- batallas -->
        <article id="batallas">
            <h3>Batallas</h3>
            <ul>
                <li>Bang, Atomic Samurai, Metal Bat y Prisionero Lindo-Lindo vs. Melzargard = Victoria</li>
                <li>Bang vs. Charanko = Victoria (fuera de escena)</li>
                <li>Bang vs. Fist Fight Djinn = Victoria</li>
                <li>Bang y Bomb vs. Garou = Interrumpida por Phoenix Man y Ciempiés Anciano</li>
                <li>Bang, Bomb y Genos vs. Ciempiés Anciano = Interrumpida por King y Saitama</li>
                <li>Bang, Bomb y Fubuki vs. Overgrown Rover = Overgrown Rover deja de atacar</li>
            </ul>
        </article>

        <img src="/img/separador.png" id="separador" alt="">

        <!-- curiosidades -->
        <article id="curiosidades">
            <h3>Curiosidades</h3>
            <ul>
                <li>Bang obtuvo el decimotercer puesto en la encuesta de popularidad.</li>
                <li>Según su hermano, Bang se controló mucho al momento de luchar.</li>
                <li>Tiene cierto parecido al Dr. Gero de Dragon Ball Z.</li>
                <li>Es uno de los pocos personajes que conoce el poder de Saitama.</li>
                <li>Es el héroe más viejo en cuanto a edad en toda la Asociación de Héroes.</li>
                <li>Junto a Flashy Flash, son los héroes que han querido reclutar a Saitama como su estudiante.</li>
                <li>En el webcómic se retira de la Asociación de Héroes y le confiesa a Atomic Samurai que la razón por la que entró a la Asociación fue para promocionar su dojo.</li>
                <li>Fue participante y ganador de uno de los torneos de Súper Lucha e iba a estar presente como juez en el vigésimo segundo Torneo de Súper Lucha de no haber sido por ir a perseguir a Garou.</li>
            </ul>
        </article>
    </section>
</body>
</html>