<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fubuki</title>
</head>

<body>
    <header>
        <h1>One punch man</h1>
    </header>
    <h2>FUBUKI</h2>
    <img src="/img/fubuki.jpg" alt="heroina fubuki">
    <p>Fubuki (フブキ, Fubuki), también conocida como Ventisca del Infierno (地獄 の フ ブ キ, Jigoku no Fubuki), es la heroína
        profesional de la Clase-B, rango 1 de la Asociación de Héroes, una esper, hermana menor de Tatsumaki y la líder
        del equipo Clase-B, el "Grupo Fubuki". Ella y su hermana son conocidas como las Hermanas Psíquicas.</p>

    <section>
        <!-- apariencia -->
        <article>
            <h3>Apariencia</h3>
            <p>Fubuki es una hermosa joven con una figura curvilínea. Tiene el cabello verde oscuro y ojos verdes
                claros. Usa su largo abrigo de piel blanca sobre su vestido verde oscuro con botas negras hasta los
                muslos y usa varios collares. A lo largo de los arcos de la historia, se ve que a cambiado su atuendo
                con regularidad.</p>
            <P>Fubuki durante los años de secundaria también tenía una figura curvilínea. Sin embargo, se paraba con la
                espalda arqueada, ya que los hombres mayores la miraban con malicia.</P>
        </article>
        <!-- personalidad -->
        <article>
            <h3>Personalidad</h3>
            <p>Cuando Fubuki era más joven, ella era muy cohibida sobre su apariencia, particularmente por su gran
                busto. Hoy en día, Fubuki usa ropa elegante y cara, ya que cree en el dicho, "la ropa define al hombre",
                dándole una imagen bastante elegante y segura. Cuando ella y Tatsumaki eran pequeñas su hermana
                constantemente la sobreprotegía, llegando a sentir miedo a Tatsumak</p>
            <p>Fubuki en el exterior es una persona fría y segura de sí misma que no duda de sus habilidades, pero
                entiende sus límites hasta cierto punto. Ella haría cualquier cosa a toda costa para asegurar su
                posición como la heroína mejor clasificada en Clase-B, como invitar a posibles amenazas como Saitama al
                Grupo Fubuki. Si se negaba, intentaría despiadadamente derribarlo, convirtiéndose en una fuente
                prominente del "aplastamiento de novatos" comúnmente practicado por aspirantes a héroes profesionales.
            </p>
            <p>Sin embargo, a pesar de los talentos y potencial psíquicos de Fubuki, se ha demostrado que ella, en el
                interior, posee un complejo de inferioridad masiva, siendo insegura y frustrada por vivir a la sombra de
                su poderosa hermana Tatsumaki. Si bien está de acuerdo con Genos en que es muy capaz de llegar a los
                rangos superiores de la Clase-A, cree que nunca podría llegar a la cima, y ​​mucho menos llegar a
                Clase-S, debido al control de Amai Mask en el Rango 1, evitando que nadie avance a Clase-S. Como tal,
                reunió a los héroes de Clase-B de menor rango, con la esperanza de que un día podría superar a su
                hermana a través de la fuerza en números en comparación con Tatsumaki, que prefiere trabajar sola.</p>
            <p>Fubuki parece ser una líder carismática ya que muchos de los miembros de su grupo la respetan y la cuidan
                y están dispuestos a arriesgar sus vidas por ella. A cambio, ella se preocupa profundamente por los
                miembros del Grupo Fubuki y depende mucho de ellos para avanzar en rango, a pesar de sus propios
                talentos en telequinesis.</p>
            <p>La personalidad de Fubuki ha supervisado un cambio masivo después de conocer a Saitama, quien la animó a
                finalmente superar sus miedos y debilidades, y se determinó a volverse más fuerte y avanzar a la
                Clase-A. Ella dedica sus días a estar completamente comprometida con la mejora continua y el bienestar
                de su organización. </p>
            <p>Al igual que su hermana, Fubuki es inteligente, pero, a diferencia de su hermana, ella es relativamente
                más compuesta y equilibrada, y se demuestra que posee buenas habilidades de deducción. Ella va al
                departamento de Saitama solo para discutir planes y contra medidas contra amenazas y problemas. Sin
                embargo, se frustra fácilmente cuando las personas no la escuchan y asumen la autoridad sin ganarla a
                veces. Se ve cuando se siente cómoda con ciertas personas que conoce, al mostrar un lado más suave de su
                personalidad.</p>
            <p>Fubuki también tiene un lado noble y desinteresado, aunque no suele demostrarlo a menudo. Cuando el
                núcleo de Genos estaba a punto de colapsar, ella sin dudarlo se encargó de contener la explosión usando
                sus poderes de Esper.</p>
        </article>
        <!-- batallas -->
        <article>
            <h3>Batallas</h3>
            <ul>
                <li>Fubuki y el Grupo Fubuki vs. Ventilador Demoníaco = Derrota</li>
                <li>Fubuki, Pestañas y Mono de Montaña vs. Saitama = Interrumpida por Genos y Sonic Velocidad del Sonido
                </li>
                <li>Fubuki vs. Hyaha Axe = Victoria</li>
                <li>Fubuki y el Grupo Fubuki vs. Do-S = Interrumpida por Tatsumaki</li>
                <li>Fubuki, Bang y Bomb vs. Overgrown Rover = Overgrown Rover deja de atacar</li>
            </ul>
        </article>
        <!-- curiosidades -->
        <article>
            <h3>Curiosidades</h3>
            <ul>
                <li>El origen de su nombre de héroe proviene de sus furiosos vientos que dan origen a una imagen del
                    infierno. Como resultado, la descripción "Infierno" se agregó a su nombre.</li>
                <li>Ha sido capaz de redirigir un ataque de Overgrown Rover, un kaijin de nivel Dragón, aunque estaba
                    visiblemente exhausta después y afirmó que no podía volver a hacerlo.</li>
                <li>De acuerdo con el databook:
                    <ul>
                        <li>Lo que le gusta es ser la mejor de la Clase-B y la líder del Grupo Fubuki, así como las
                            marcas que se adaptan a su estilo.</li>
                        <li>Lo que no le gusta son los artículos baratos, los héroes de menor rango que no se unen al
                            Grupo Fubuki y los embotellamientos.</li>
                        <li>Sus pasatiempos son coleccionar tacones altos, ir de compras, reunir héroes de alto rango y
                            auto-entrenamiento.</li>
                    </ul>
                </li>
                <li>A pesar de ser más madura, Fubuki es, de hecho, 5 años más joven que su hermana Tatsumaki
                    <ul>
                        <li>Lily una vez confundió a Fubuki como la hermana mayor de Tatsumaki. Esto es repetido por
                            Do-S durante su pelea con Fubuki.</li>
                    </ul>
                </li>
                <li>Al principio Fubuki muestra querer reclutar a otros héroes solo para conservar su primer rango en
                    Clase-B. Pero tras la derrota de Orochi, ella revela que su verdadera intención era reclutar a
                    individuos poderosos para poder respaldar a su hermana en los momentos en los que lo necesitara</li>
                <li>Parece guardarle cierto rencor a Blast debido a que el consejo que este le dio a su hermana hace 18
                    años, el cual lo ve más como una maldición, le generó un complejo de "lobo solitario" que la hace
                    rechazar cualquier tipo de ayuda</li>
            </ul>
        </article>
    </section>
</body>

</html>