<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Garou</title>
</head>

<body>
    <header>
        <h1>One punch man</h1>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </header>

    <section id="presentacion">

        <img id="portada" src="/img/portada.jpg" alt="">

        <h2>GAROU</h2>

        <p><img src="/img/garou.jpg" alt="heroe garou">Garou (ガロウ, Garō) es un villano, un artemarcialista prodigio, el
            autoproclamado "Cazador de Héroes" y un importante adversario para la Asociación de Héroes y la Asociación
            de Monstruos. Es un ex-discípulo de Bang, que fue expulsado de su dōjō por una pelea que él provocó. Debido
            a su fascinación por los kaijin, a menudo es llamado el "Monstruo Humano'". Es uno de los personajes más
            fuertes de la serie y juega un importante papel como el villano principal de la Saga del Monstruo Humano.
        </p>
    </section>

    <div>
        <ul>
            <li><a href="#apariencia">APARIENCIA</a></li>
            <li><a href="#personalidad">PERSONALIDAD</a></li>
            <li><a href="#batallas">BATALLAS</a></li>
            <li><a href="#curiosidades">CURIOSIDADES</a></li>
        </ul>
    </div>

    <img src="/img/separador.png" id="separador" alt="">

    <section>
        <!-- apariencia -->
        <article id="apariencia">
            <h3>Apariencia</h3>
            <p>Garou es un joven con rasgos afilados y el pelo de puntas largas. Si bien no es una persona
                particularmente grande de altura se demuestra que es bastante musculoso. Lleva una camisa negra ajustada
                y pantalones blancos sueltos, similar a su antiguo maestro Bang, con un cinturón amarillo envuelto
                alrededor de su cintura.</p>
            <p>A medida que Garou pelea durante el Arco de la Asociación de Monstruos, su apariencia se vuelve más
                monstruosa con el tiempo. Después de ser pateado por Saitama, se quita la camisa y envuelve la parte
                superior de su cuerpo en vendajes mientras se recupera. Mientras lucha contra Genos, su ojo derecho se
                torna rojo e inyectado en sangre, y su cabello se vuelve también rojo después de frotar su propia sangre
                en él.</p>
            <p>Después de recuperarse, viste una ajustada camisa de manga larga negra y unos pantalones holgados negros,
                brindados por la Asociación de Monstruos. Tras su batalla contra Royal Ripper, conserva una gran
                cicatriz diagonal en el rostro. Su ropa está rota y dos hilos de tela fluyen detrás de él como bufandas
                debido a su encuentro con Overgrown Rover, y después de ser derrotado por Orochi, todo su cuerpo está
                negro de hollín. El hollín se rompe cuando Garou bloquea el Superalloy Bazooka de Superalloy Darkshine,
                y la fuerza del ataque también desgarra su ropa restante en un patrón en espiral alrededor del agujero
                que Orochi le dejó en el torso.</p>
            <p>Después de su pelea con Darkshine y la subsiguiente destrucción de la base de la Asociación de Monstruos,
                Garou comienza a transformarse, con sus manos convirtiéndose en garras, sus dientes transformándose en
                colmillos y su piel endureciéndose. Cuando Garou finalmente emerge de los escombros, adquiere una
                apariencia monstruosa, con piel y cabello endurecidos como una armadura, garras afiladas y venas
                resaltantes que recorren su cuerpo.</p>
        </article>

        <img src="/img/separador.png" id="separador" alt="">

        <!-- personalidad -->
        <article id="personalidad">
            <h3>Personalidad</h3>
            <p>Garou es presentado como un personaje malvado con odio hacia los héroes y tiene una caracterización
                segura y vengativa. Odia ser insultado y atacará a cualquiera que lo ofenda. Él piensa muy bien de sí
                mismo y utiliza esa afirmación para amenazar a personal de alto rango como héroes y Sitch.También
                atacará a los héroes de bajo rango y al personal de la Asociación de Héroes si los encuentra.</p>
            <p>Garou odia lo popular, ya que cree que el popular siempre ganará al final. Esto se debe a que cuando era
                niño, no tenía amigos y los niños populares en la escuela disfrutaban de abusar de él, tanto física como
                verbalmente, en particular un niño llamado Tacchan. Lo forzaban a jugar a los Héroes, donde Tacchan
                ("Justice Man") golpearía a Garou ("el monstruo"). Garou notó cómo a todos le agradaba Tacchan, pero lo
                odiaban a el. Después de ver su vida repetirse una y otra vez en el programa de televisión Justice Man,
                desarrolló un disgusto por los héroes en general y creyó que al final, la mayoría siempre querrá que él
                ("el monstruo") muera.</p>
            <p>De alguna manera, Garou se puede considerar una contraparte de Saitama. Ambos tienen su propio y fuerte
                sentido del honor y la justicia, aunque se manifiestan de diferentes maneras. Mientras que Saitama
                quería ser como un héroe de su infancia que luchó contra villanos, Garou quiere ser un monstruo que
                derrota a los héroes. Mientras Garou es un luchador genio y un prodigioso artista marcial, Saitama es
                una persona común y corriente que utiliza técnicas simples de pelea. Además, Garou puede disfrutar de la
                sensación de perder para mejorarse a sí mismo y así hacerse más fuerte, diferente a Saitama que desea
                encontrar un oponente digno para reavivar la emoción que una vez tuvo cuando entrenaba.</p>
            <p>En la batalla, Garou es extremadamente arrogante, a menudo burlándose de sus oponentes y llamándolos
                "amateurs". Se mofó de Death Gatling y del grupo de héroes de Clase-A y B, llamándolos a todos
                patéticamente débiles y, a pesar de su inteligente idea de agruparse, no eran nada en comparación con
                los héroes Clase-S. A pesar de esto, le da crédito a sus oponentes cuando lo ve, como se vio cuando
                comentó sobre la resistencia de Gafas a lo largo de su batalla.</p>
            <p>Él es muy observador antes y durante la batalla, siempre preparándose para combatir a su oponente y nunca
                luchando sin conocimiento previo. Un ejemplo de esto es cuando el grupo de héroes de Clase-A y B llega
                para llevarlo a la Asociación de héroes. Cuando los ve, le pide a Tareo que le preste el libro de la
                Asociación de héroes con todos los héroes enumerados y sus poderes, armas, rangos y habilidades. Él usa
                esto para asegurarse de evitar los ataques que le causarían un gran daño, específicamente las flechas
                venenosas de Shooter.</p>
        </article>

        <img src="/img/separador.png" id="separador" alt="">

        <!-- batallas -->
        <article id="batallas">
            <h3>Batallas</h3>
            <ul>
                <li>Garou vs. Estudiantes de Bang: Victoria (fuera de escena)</li>
                <li>Garou vs. Heavy Tank Fundoshi, Blue Fire y Magic Trick Man: Victoria</li>
                <li>Garou vs. Tanktop Vegetarian: Victoria (fuera de escena)</li>
                <li>Garou vs. Ejército Tank Topper, Tanktop Master, Ciclista sin Licencia y Charanko: Victoria</li>
                <li>Garou vs. Golden Ball y Spring Moustache: Victoria (fuera de escena)</li>
                <li>Garou vs. Saitama: Derrota</li>
                <li>Garou vs. Metal Bat: Interrumpida por Zenko</li>
                <li>Garou vs. Sludge Jellyfish: Victoria</li>
                <li>Garou vs. Watchdog Man: Derrota</li>
                <li>Garou vs. Grupo de Death Gatling: Victoria</li>
                <li>Garou vs. Bang y Bomb: Interrumpida por Phoenix Man y Ciempiés Anciano</li>
                <li>Garou vs. Saitama (segundo encuentro): Derrota</li>
                <li>Garou vs. Royal Ripper y Dios Insecto: Derrota</li>
                <li>Garou vs. Royal Ripper: Victoria</li>
                <li>Garou vs. Súper Ratón, Showerhead y Unicuerno: Interrumpida por Overgrown Rover</li>
                <li>Garou vs. Overgrown Rover: Interrumpida por Gyoro Gyoro</li>
                <li>Garou vs. Gyoro Gyoro: Interrumpida por Orochi</li>
                <li>Garou vs. Orochi: Derrota</li>
                <li>Garou vs. Prisionero Lindo-Lindo: Victoria</li>
                <li>Garou vs. Superalloy Darkshine: Interrumpida por Tatsumaki</li>
            </ul>
        </article>

        <img src="/img/separador.png" id="separador" alt="">

        <!-- curiosidades -->
        <article id="curiosidades">
            <h3>Curiosidades</h3>
            <ul>
                <li>Desde pequeño admiraba a los villanos de un programa de televisión.
                    <ul>
                        <li>Nunca le pareció justo que los villanos prepararen un complejo plan, para que en el último
                            momento el héroe dañara sus planes.</li>
                    </ul>
                </li>
                <li>Garou ocupa el puesto 14 en la encuesta de popularidad de personajes.</li>
                <li>Garou (餓狼, Garō) significa "Lobo hambriento", en francés loup-garou significa "Hombre lobo"
                    <ul>
                        <li>Garou es también un juego de palabras con la pronunciación japonesa de "Crecimiento".</li>
                    </ul>
                </li>
                <li>Garou es el segundo monstruo en no ser asesinado por Saitama en combate (el primero es Kombu
                    Infinito), aunque Saitama no ve a Garou como un monstruo.</li>
                <li>En el databook, el nivel de desastre de Garou aparecía como ?</li>
                <li>En una entrevista con ONE, se le preguntó quien ganaría entre Garou y Boros, a lo que él respondió
                    que sería una batalla infernal, aunque posiblemente el Monstruo Humano puede superar a Boros en
                    combate cuerpo a cuerpo.</li>
                <li>Garou es el tercer monstruo que sobrevive los mortales y rápidos golpes de Saitama (después de
                    Boros, Overgrown Rover y Agua Natural Malvada).</li>
                <li>Garou es el primer monstruo en bloquear, esquivar y contraatacar con rápidos movimientos con los
                    brazos y con patadas a Saitama. También escapó del agarre de Saitama dos veces (una vez cuando
                    Saitama trató de atraparlo para que los Clase-S pudieran actuar). Lucha y una vez más durante la
                    batalla Saitama agarró su puño cuando él intentó golpearlo.
                    <ul>
                        <li>Garou es hasta ahora el único personaje que ha hecho a Saitama participar activamente en la
                            batalla.
                            <ul>
                                <li>En su pelea del webcómic se puede ver que, luchando contra Saitama, admite que ni
                                    siquiera es capaz de seguir con la vista los movimientos del héroe calvo, sino que
                                    más bien es capaz de predecirlos gracias a su don nato para las artes marciales y la
                                    lucha, refiriéndose a sí mismo como un prodigio.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Murata hace referencia a la espalda de Bruce Lee cuando dibuja la parte posterior de Garou, llena de
                    músculos</li>
                <li>Murata ha declarado que Garou se ducha en baños públicos</li>
                <li>Garou inconscientemente estuvo haciendo los antiguos intentos que solía hacer Psykos para romper el
                    limitador y crear al kaijin perfecto: devorar a otros monstruos, quebrar su mente y cuerpo varias
                    veces, utilización de fuentes externas para cubrir sus heridas (vendas de Royal Ripper, lo cual es
                    unión de células ya que esas bandas eran prácticamente su piel), fracaso y cercanía a la muerte en
                    múltiples ocasiones.</li>
            </ul>
        </article>
    </section>
</body>

</html>