<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genos</title>
</head>
<body>
    <header>
        <h1>One punch man</h1>
    </header>
    <h2>GENOS</h2>
    <img src="/img/Genos.png" width="60%" height="10%" alt="heroe enos">
    <p>Genos (ジェノス, Jenosu) es el deuteragonista de One Punch-Man. Es un cyborg de 19 años y discípulo de Saitama. Él siempre esta con el objetivo de ser el más fuerte y lucha por la justicia. Bajo la Asociación de Héroes, se le da el nombre de Cíborg Demoníaco (鬼サイボーグ, Oni Saibōgu) y actualmente se encuentra en la Clase-S, rango 14.</p>

    <section>
        <!-- apariencia -->
        <article>
            <h3>Apariencia</h3>
            <p>Genos tiene un cuerpo mecánico que es un modelo de un adolescente, un rostro pálido, cejas amarillas, ojos penetrantes de esclerótica negra e iris amarillo, y el pelo rubio en punta. Lleva pantalones negros y zapatos negros, y también tiende a llevar tops los cuales exponen sus extremidades superiores mecánicas. Genos ha demostrado tener muchos conjuntos distintos de los brazos, con diferentes habilidades y fortalezas. Ejemplos notables de sus varios "brazos" son los que él utilizó en el combate de entrenamiento contra Saitama y los brazos que uso para combatir el meteorito. El equipamiento que utilizó contra el meteorito tenía un efecto interesante en cambiar no sólo la apariencia de sus brazos, sino también la creación de un "encuadre" de metal alrededor de su rostro.</p>
        </article>
        <!-- personalidad -->
        <article>
            <h3>Personalidad</h3>
            <p>Genos es de un carácter extremadamente fuerte y serio. Constantemente se esfuerza por ser más poderoso pidiéndole a Saitama que lo entrene con frecuencia. Desde que se convirtió en discípulo de Saitama, Genos es muy reverente y protector hacia su "sensei", lo admira y respeta mucho y puede ser bastante complaciente con él; a pesar de que hay veces que expresa disgusto e incredulidad al régimen de entrenamiento mundano que Saitama utilizó para obtener su fuerza.</p>
            <p>En la mayoría de ocasiones, Genos actúa como una lámina de cómic a las payasadas despistadas de Saitama, usando una variedad de técnicas especiales, tácticas de batalla y actualizaciones robóticas para luchar contra monstruos y villanos (recibiendo un daño terrible en el proceso y en una ocasión apunto de morir), sólo para ser superado por Saitama con un solo golpe. Debido a la increíble fuerza de Saitama, Genos se hace a la idea de que hay un secreto en el poder de Saitama.</p>
            <P>A pesar de su disparidad en la fuerza, Genos gana un mayor reconocimiento que su mentor. Su perspicacia superior le concedió la condición de inmediato como un héroe Clase-S dentro de la Asociación de Héroes, frente a la designación de la Clase-C de Saitama. También posee aparentemente una cantidad alta de dinero, suficiente para reparar y mejorar su cuerpo cyborg cada vez que vuelve destruido de un combate y cubrir el alquiler de Saitama de forma regular.</P>
            <P>Con el tiempo se suaviza y él reconoce que esto se debe a la influencia de Saitama. Finalmente, llega a respetar a Saitama no solo por su poder, sino también por su carácter. Esto se demostró cuando Genos comenta sobre lo similar que era en su pasado a Amai Mask, antes de conocer a Saitama, al no tener piedad en su corazón y aniquilar tantos monstruos como villanos a sangre fría. Genos lentamente se vuelve menos serio y se vuelve un poco curioso acerca de algunas cosas menores como el significado de la diversión.</P>
            <P>Sorprendentemente, es bastante irrespetuoso con aquellos que interrumpen a Saitama o lo molestan constantemente, como siempre que Bang o Fubuki le ordenan o intentan reclutar a Saitama, él continuamente les dirá que lleguen al punto y defenderán su posición como discípulo de Saitama, y ​​nada más. Este comportamiento hostil no solo se extiende a aquellos que ofenden a Saitama, sino también al Dr. Stench. Esto se ve cuando Fubuki le pide al Dr. Stench que se una al Grupo Fubuki, llegando a insultarla y amenazarla con incinerarla. Genos incluso hace lo mismo con Saitama cuando este llamara "anciano" al Dr. Stench, pero Genos se disculpó de inmediatamente cuando Saitama le dijo que se relajara un poco.</P>
            <P>Genos parece tener un cierto sentido de orgullo en sus habilidades y en sí mismo. Esto se ve en su batalla contra Cucaracha Avispada cuando muestra una ligera decepción por tener que usar el material adhesivo en el, ya que obligaría a Genos a aceptar que había monstruos mucho más rápidos que él. Sin embargo, su pelea con Segador de Rostros, Cucaracha Avispada y Garou demuestra que ya no está pensando en el poder en bruto y está considerando medidas defensivas. Genos ha comenzado a usar trucos para obtener la ventaja en sus peleas ahora, aunque eso generalmente se ve cuando no tiene otra opción.</P>
        </article>
        <!-- batallas -->
        <article>
            <h3>Batallas</h3>
            <ul>
                <li>Genos vs. Chica Mosquito = Derrota, interrumpida por Saitama</li>
                <li>Genos vs. Gorila Blindado = Victoria</li>
                <li>Genos vs. Asura Kabuto = Derrota</li>
                <li>Genos vs. Saitama = Derrota</li>
                <li>Genos, Metal Knight y Saitama vs. Meteoro = Victoria</li>
                <li>Genos vs. Rey del Mar Profundo = Derrota</li>
                <li>Genos vs. G4 = Victoria</li>
                <li>Genos vs. Sonic Velocidad del Sonido = Interrumpido por Saitama</li>
                <li>Genos vs. Segador de Rostros = Victoria</li>
                <li>Genos vs. Cucaracha Avispada = Cucaracha Avispada se retiró</li>
                <li>Genos vs. Gouketsu = Derrota (fuera de escena)</li>
                <li>Genos vs. Garou = Interrumpida por Bang</li>
                <li>Genos, Bang y Bomb vs. Ciempiés Anciano = Genos es derrotado, interrumpida por King y Saitama</li>
                <li>Genos vs. G5 = Victoria</li>
                <li>Genos, Tatsumaki y Drive Knight vs. Psykos y Orochi = En curso</li>
            </ul>
        </article>
        <!-- curiosidades -->
        <article>
            <h3>Curiosidades</h3>
            <ul>
                <li>Genos ocupa el cuarto lugar en la encuesta de popularidad</li>
                <li>Genos ocupa el puesto número 6 en popularidad por el público, y se encuentra en el Top 5 de los mejores héroes.</li>
                <li>Genos como una mujer es llamada "Genoko"</li>
                <li>ONE ha dicho que Genos es bastante poderoso incluso entre los héroes de la Clase-S.</li>
                <li>Las lágrimas de Genos están hechas de aceite.</li>
                <li>ONE declaró que una pelea entre él y Sonic terminaría en un empate. Y efectivamente fue así, su batalla se alargó tanto que Saitama tuvo que intervenir</li>
                <li>Cuando no está en batalla, Genos puede convertirse en un multi utensilio dedicado a las tareas domésticas:
                    <li>Su mano derecha viene con un pelador de verduras incorporado.</li>
                    <li>Las palmas también contienen puertos que le permiten lanzar una brisa cálida para secar los platos.</li>
                    <li>En una ilustración oficial, un abrebotellas para bebidas está incorporado en su hombro derecho.</li>
                    <li>En el especial de preguntas y respuestas del manga, se comentó que Genos (cuando está equipado con "brazos de trabajo doméstico") puede convertirse en un ama de llaves de primera clase.</li>
                </li>
                <li>Para fortalecerse, Genos lleva consigo "diarios de entrenamiento" extremadamente detallados. Una mordaza común y corriente es que inmediatamente anotará cualquier "palabra de sabiduría" y "técnicas de entrenamiento" de Saitama. Sin embargo, gran parte de la información parece "irrelevante", como los dibujos detallados de cómo "sostener y leer correctamente un manga mientras se está encorvando en un futón", cómo colgar la ropa en la línea de lavado y los informes nutricionales de la comida de Saitama. Solo King parece darse cuenta de cuán inútiles son estas sabidurías.</li>
                <li>Genos se cortó las mangas porque sus hombros no caben en ellas. También piensa que son feas, así que los corta. Además, piensa que son molestas cuando usa las armas que tiene en los brazos.</li>
                <li>Genos consiguió sus piercings después de convertirse en un cyborg.</li>
                <li>Genos es demasiado pesado para nadar en circunstancias normales.</li>
                <li>Durante un directo, Murata dibujó un universo alternativo Genos-Cinderella, presentando a Genos como "Deshiderella" (弟子 デ レ ラ, Deshi derera) y Saitama como el Príncipe, con la cita "¡Soy un Príncipe por diversión!". Los otros personajes fueron: King como El Rey, Tatsumaki como La Madrastra, Sonic y Fubuki como las hermanastras, y Dr. Kuseno como el hada madrina.</li>
                <li>En un directo de Murata, cuando describía la etnia que serían los personajes en el mundo real, Murata dijo que Genos seria alemán.</li>
                <li>Se desconoce cuál era la apariencia de Genos cuando era completamente humano.</li>
                <li>De acuerdo con el databook:
                   <ul><li>Lo que le gusta son las enseñanzas de Saitama y las sardinas en aceite.</li>
                    <li>Lo que no le gusta es la gente que mira mal a Saitama y aparatos electrónicos complicados.</li>
                    <li>Sus hobbies son navegar en Internet, leer y escribir en su diario.</li>
                    <li>Incluso antes de convertirse en un cyborg, la personalidad de Genos ya era seria.</li>
                    <li>Genos es el primer nuevo héroe de Clase S en 2 años, sin embargo, esto se contradice en el omake Arma, donde se revela que Metal Bat fue promovido a Clase-S hace un año.</li>
                </ul> 
                </li>
                <li>En el Anime, Genos solo sonríe en dos escenas:
                    <ul>
                    <li>Después de que Saitama venciera al Rey del Mar Profundo.</li>
                <li>Después de que Saitama venciera de un golpe a Plutón.</li>
            </ul>
            </li>
            <li>Gracias al Dr. Kuseno Genos puede sentir sabores y olores.</li>
            <li>Actualmente su cerebro es lo único humano que queda de en su cuerpo.</li>
            <li>ONE ha afirmado que Saitama no usa el dinero de Genos por mucho que Genos le dice que lo utilice.</li>
            <li>Se sabe que tiene un club de fans y es considerado como uno de los héroes más populares del mundo desde que accedió en la Asociación.</li>
            <li>A pesar de ser un héroe muy poderoso, Genos es bastante confiado, y por ello es que a veces termina cayendo en combate.</li>
            </ul>
        </article>
    </section>
</body>
</html>