<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King</title>
</head>
<body>
    <header>
        <h1>One punch man</h1>
    </header>
    <h2>KING</h2>
    <img src="/img/king.png" alt="heroe king">
    <p>King (キング, Kingu; Esp: Rey) es el héroe profesional Clase-S, rango 7 de la Asociación de Héroes. En público, a King se le conoce como "El hombre más fuerte de la Tierra" (地上最強の男, Chijō saikyō no otoko). King también es una de las pocas personas conscientes de la verdadera magnitud del poder de Saitama y es parte del Grupo Saitama.</p>

    <section>
        <!-- apariencia -->
        <article>
            <h3>Apariencia</h3>
            <p>King es un hombre alto y delgado con piel ligeramente bronceada, ojos azules y cabello rubio liso que se mantiene peinado hasta los hombros y que sigue peinado hasta la nuca. Sus rasgos notorios son tres cicatrices verticales directamente sobre su ojo izquierdo, con mejillas hundidas y una línea de la mandíbula definida. Lleva un suéter de cuello alto negro con mangas largas. Cabe destacar que su latido del corazón se puede escuchar ocasionalmente.</p>
        </article>
        <!-- personalidad -->
        <article>
            <h3>Personalidad</h3>
            <p>King parece extremadamente calmado en situaciones amenazantes, así como en poner un aura extremadamente intimidante. Es muy respetado entre el público y otros héroes, incluidos los que tienen un rango más alto como Tatsumaki.</p>
            <p>A pesar de la aparente personalidad intimidante de King, en realidad es un cobarde y un otaku que se emociona mucho al comprar un juego de simulación de citas. Se muestra que es realmente cuidadoso y considerado, pero su cobardía por lo general interviene, lo que le impide hacer cualquier cosa. Más tarde, King se volvería más valiente y decidiría engañar a su manera en presencia de enemigos de nivel de Dragón, a pesar de querer huir.</p>
            <p>King también tiene un lado cariñoso, se preocupa por el bienestar de Saitama y le ofrece consejos perspicaces, además de invitarlo a jugar videojuegos, e incluso promete jugar con solo dos dedos para perjudicar a Saitama.</p>
            <p>Desde que ganó el título como el hombre más fuerte del mundo, King se ha vuelto muy bueno para engañar a sus oponentes, lo que los hace dudar o incluso rendirse. Cuando unos asesinos intentaron quitarle la vida, King pudo usar una inteligente intimidación y sabias explicaciones para hacer que los asesinos retrocedieran y lo dejaran en paz.</p>
        </article>
        <!-- batallas -->
        <article>
            <h3>Batallas</h3>
            <ul>
                <li>King vs. Tongue Stretcher = Victoria</li>
                <li>King y Saitama vs. Ciempiés Anciano = Victoria</li>
            </ul>
        </article>
        <!-- curiosidades -->
        <article>
            <h3>Curiosidades</h3>
            <ul>
                <li>De acuerdo con el databook:
                    <ul>
                        <li>Le gustan el silencio y la paz</li>
                        <li>No le gustan las multitudes y los ruidos</li>
                        <li>Su hobby es el "entrenamiento" en lugares aislados y tranquilos. Se cree comúnmente que fortalece su cuerpo y alma mientras entrena</li>
                    </ul>
                </li>
                <li>King recomendó un libro llamado "Cómo desarrollé una voluntad indomable", escrito por ONE e ilustrado por Yusuke Murata como un huevo de pascua.</li>
                <li>ONE ha dicho que si bien el héroe más popular en su mundo es Amai Mask, King también es muy conocido.</li>
                <li>Cuando Kid Emperor diseña un dispositivo para medir la fuerza, tanto Saitama como King se muestran indefinidos. Kid Emperor da dos razones potenciales para esto, una de ellas es que el receptor es demasiado débil para medir, y la otra es que el receptor es demasiado fuerte para medir. El escaneo de Saitama también causó que el dispositivo se agriete sin que nadie lo notara.</li>
                <li>En El mundo de One Punch Man, se rumorea que King consiguió su cicatriz en una pelea a muerte contra un monstruo nivel Dios,[2] pero esto se demuestra falso en un flashback, donde King fue atacado por un kaijin nivel Tigre llamado Hombre con Garras de Pulpo.</li>
                <li>Cuando se creó King, no se sabía si One quería que la creación de King fuera exactamente lo opuesto a Saitama. King podría parecer intimidante para las personas que lo rodean, pero en realidad es extremadamente débil, debido al hecho de que nunca antes había peleado en su vida. Saitama, por otro lado, su cara despreocupada y su actitud perezosa le permiten a sus enemigos asumir que es débil. Sin embargo, a menudo se asombran ante la fuerza monstruosa de Saitama antes de que sean eliminados por el.</li>
                <li>El Motor King es en realidad obra del actor de voz de King y no un efecto de sonido.</li>
                <li>Murata describe a King como un occidental, más que Genos.</li>
            </ul>
        </article>
    </section>
</body>
</html>