<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Tatsumaki</title>
</head>

<body>
    <header>
        <h1>One punch man</h1>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </header>
    <section id="presentacion">
        <img id="portada" src="/img/portada.jpg" alt="">
        <h2>TATSUMAKI</h2>

        <p><img src="/img/Tatsumaki.jpg" alt="heroina tatsumaki">Tatsumaki (タツマキ, Tatsumaki), también conocida como
            Tornado del Terror (戦慄のタツマキ, Senritsu no Tatsumaki), es la heroína profesional de la Clase-S, rango 2 de la
            Asociación de Héroes, una esper, y la hermana mayor de Fubuki. Ella y su hermana son conocidas como las
            Hermanas Psíquicas.</p>
    </section>
    <div>
        <ul>
            <li><a href="#apariencia">APARIENCIA</a></li>
            <li><a href="#personalidad">PERSONALIDAD</a></li>
            <li><a href="#batallas">BATALLAS</a></li>
            <li><a href="#curiosidades">CURIOSIDADES</a></li>
        </ul>
    </div>
    <section>
        <img src="/img/separador.png" id="separador" alt="">

        <!-- apariencia -->
        <article id="apariencia">
            <h3>Apariencia</h3>
            <p>Tatsumaki es una mujer pequeña, comúnmente confundida por parecer mucho más joven de lo que realmente es
                (en parte también debido a su carácter caprichoso). Ella tiene un rostro joven con los ojos verdes
                esmeralda y el pelo despeinado verde esmeralda que se dobla en los extremos. Ella lleva un vestido negro
                ajustado, con mangas largas y cuatro ranuras de corte alto que muestran sus piernas y unos zapatos
                negros de tacón bajo.</p>
            <p>Debido a su enorme poder, Tatsumaki está completamente confiada en su destreza de batalla. Durante la
                reunión de Clase S, en preparación para el rescate del hijo de Narinki, ella afirma varias veces que
                ningún monstruo tiene una oportunidad contra ella, incluso tomando la situación no tan seriamente en
                cierta medida.</p>
            <p>También ha demostrado respeto hacia las personas que considera fuertes como cuando Bang la reprendió por
                su comportamiento después de la batalla contra los ladrones de materia oscura y cuando mostró
                fascinación durante la reunión de los miembros de la Clase-S antes de asaltar a la Asociación de
                Monstruos, cuando los agentes de la Asociación de Héroes expusieron la supuesta batalla que King sostuvo
                toda la noche previa a la reunión contra los monstruos del distrito fantasma de Ciudad-Z.</p>
            <p>Debido al consejo que Blast le dio a Tatsumaki luego de salvarla hace 18 años, ella trabaja sola y no le
                gusta que la ayuden ya que considera que solo su fuerza es necesaria para enfrentar cualquier amenaza.
                Esto la ha llevado a situaciones en donde se ha encontrado al borde de la muerte por usar en exceso sus
                poderes.[1] Fubuki ha mencionado que el consejo de Blast se volvió una maldición para Tatsumaki.</p>
        </article>

        <img src="/img/separador.png" id="separador" alt="">

        <!-- personalidad -->
        <article id="personalidad">
            <h3>Personalidad</h3>
            <p>Tatsumaki tiene una personalidad bastante descarada, malhumorada, exaltada e impaciente. Es irrespetuosa
                con la mayoría de las personas, especialmente con las que considera incompetentes. Es completamente
                intolerante con aquellos que son impertinentes, como se muestra cuando estrello a Genos a un gran
                escombro por tomar represalias contra su abuso verbal en contra de Saitama. A Tatsumaki le disgusta
                especialmente que se la ignoren o que la llamen "enana" y "niña".</p>
            <p>A pesar de su personalidad arrogante, se siente obligada a derrotar a los monstruos y considera su
                trabajo como héroe como un deber, aceptando cualquiera de las solicitudes de la Asociación de Héroes
                para derrotar a los monstruos. Debido al hecho de que ella se aburrirá cuando no esta luchando contra
                monstruos, ella los persigue en su tiempo libre. Ella tiene un poco de lado suave hacia su hermana
                pequeña, Fubuki, pero también es muy sobre protectora y controla a ella.</p>
        </article>

        <img src="/img/separador.png" id="separador" alt="">

        <!-- batallas -->
        <article id="batallas">
            <h3>Batallas</h3>
            <ul>
                <li>Tatsumaki vs. Ventilador Demoníaco = Victoria</li>
                <li>Tatsumaki vs. Gigakigan = Victoria</li>
                <li>Tatsumaki vs. Hot-Dog = Victoria</li>
                <li>Tatsumaki vs. Rey Antiguo = Victoria</li>
                <li>Tatsumaki vs. Esclavos de Do-S = Victoria</li>
                <li>Tatsumaki vs. Pulpo de Cien Ojos = Victoria</li>
                <li>Tatsumaki vs. Evil Eye = Victoria</li>
                <li>Tatsumaki vs. Gyoro Gyoro = Victoria</li>
                <li>Tatsumaki vs. Psykos = Interrumpida por Orochi</li>
                <li>Tatsumaki y Héroes vs. Psykos y Orochi = Victoria</li>
            </ul>
        </article>

        <img src="/img/separador.png" id="separador" alt="">

        <!-- curiosidades -->
        <article id="curiosidades">
            <h3>Curiosidades</h3>
            <ul>
                <li>Tatsumaki ocupa el sexto lugar en la encuesta de popularidad</li>
                <li>Es el único personaje al momento, aparte de Saitama, que ha sido dibujada en algunas ocasiones sin
                    mucho detalle de manera cómica, emulando el diseño original del webcómic.</li>
                <li>A pesar de tener una apariencia tan juvenil hasta el punto de ser confundida con una niña, en
                    realidad Tatsumaki es una mujer adulta.</li>
                <li>Es algo arrogante, pero en el fondo ella ha demostrado ser muy amigable (pese a que únicamente sea
                    así con su hermana).</li>
                <li>Saitama y Garou lograron demostrarle en sus batallas correspondientes que no es tan fuerte como
                    cree, y que cuando está muy debilitada, su energía de levantamiento de objetos y la fuerza de choque
                    es similar a Fubuki, empleando su máximo o incluso inferior.</li>
                <li>En un directo de Murata cuando describieron qué etnicidad tendrían los personajes en el mundo real,
                    mencionó que Tatsumaki y Fubuki parecen francesas.</li>
                <li>Algunas cosas que le agradan son su hermana y entrenar en áreas amplias.</li>
                <li>Lo que no le agrada son los héroes masculinos que piensan que son fuertes y que la ven y llaman una
                    niña pequeña.</li>
                <li>Tatsumaki está obsesionada con las manzanas dulces, tanto así que va a festivales solo para
                    comprarlas.</li>
                <li>Hace un cameo en el episodio 8 de Mob Psycho 100 cuando describen a los Espers.</li>
                <li>En el audiolibro llamado "Sonic, convirtiéndose en Saitama", Sonic menciona que Tatsumaki utilizó su
                    ternura para que la convirtieran en una heroína de Clase-S.</li>
            </ul>
        </article>
    </section>
</body>

</html>