header {
  background-color: black;
  margin-top: -4%;
  margin-left: -0.5%;
  margin-right: -0.5%;
  padding-top: 1px;
}
header li {
  display: inline;
  background-color: yellow;
  margin: 3%;
}

header li a {
  background-color: yellow;
  color: black;
  margin: 2%;
}
#img-home {
  width: 1340px;
  height: 500px;
  margin-block-start: -0.5%;
}
h1 {
  color: yellow;
  font-size: 70px;
  text-align: center;
}
#portada {
  margin-top: -1%;
  width: 1300px;
  height: 300px;
}
h2 {
  margin-inline-start: 2%;
  margin-top: 10%;
  font-size: 50px;
  margin-right: 80%;
}
p img {
  float: left;
  margin: 1%;
}

/* imagen separador */
#separador {
  background-color: yellow;
  width: 1000px;
  height: 50px;
  margin-inline-start: 10%;
}

#presentacion {
  font-size: 30px;
  padding: 10px;
}

div {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 70%;
}
div a {
  color: black;
  background-color: yellow;
}
h3 {
  font-size: 40px;
}
article p {
  font-size: 20px;
  margin: 2%;
}
li {
  margin-top: 2%;
}
